**/.dockerignore
**/Dockerfile
**/docker-compose.yml
**/.git
**/.gitignore
**/.editorconfig
**/.project
**/.travis.yml
**/AUTHORS
**/CHANGELOG.md
**/README.md
**/COPYING
**/GNU-AGPL-3.0
**/Procfile
**/.s2i
**/.tx
**/log
**/tmp
**/.bundle
**/*.sqlite3
**/*.sqlite3-journal
**/db/sphinx
**/public/uploads
**/node_modules
**/doc
**/.ruby-version
**/.rvm
**/*.env
